<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style media="screen">
        .error {
            color: red;
        }
    </style>
  </head>
  <body>
    <h1>Add A Trip</h1><br>
    <a href="/dashboard">Home</a>
    <a href="/logout">Logout</a>
    
    <br>

    <form class="tripForm" action="/newTrip" method="post">
      {%csrf_token%}
      {% if messages %}
              {% for message in messages %}
                  {%if "destination" in message.tags%}
                  <p{% if message.tags %} class="{{ message.tags }} error"{% endif %}>{{ message }}</p>
                {%endif%}
              {% endfor %}
      {% endif %}
      <label for="destination">Destination:</label><br>
      <input type="text" class="form-control" id="destination" name="destination" placeholder="Destination">
      {% if messages %}
              {% for message in messages %}
                  {%if "description" in message.tags%}
                  <p{% if message.tags %} class="{{ message.tags }} error"{% endif %}>{{ message }}</p>
                {%endif%}
              {% endfor %}
      {% endif %}
      <label for="description">Description:</label><br>
      <input type="text" class="form-control" id="description" name="description" placeholder="Description">
      {% if messages %}
              {% for message in messages %}
                  {%if "travel_date_from" in message.tags%}
                  <p{% if message.tags %} class="{{ message.tags }} error"{% endif %}>{{ message }}</p>
                {%endif%}
              {% endfor %}
      {% endif %}
      <label for="travel_date_from">Travel Date From:</label><br>
      <input type="date" class="form-control" id="travel_date_from" name="travel_date_from" placeholder="Travel_date_from">
      {% if messages %}
              {% for message in messages %}
                  {%if "travel_date_to" in message.tags%}
                  <p{% if message.tags %} class="{{ message.tags }} error"{% endif %}>{{ message }}</p>
                {%endif%}
              {% endfor %}
      {% endif %}
      <label for="travel_date_to">Travel Date To:</label><br>
      <input type="date" class="form-control" id="travel_date_to" name="travel_date_to" placeholder="Travel_date_to">
      <input type="submit" name="" value="Add">
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html> -->
